@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
    width: 8px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #e9ecef;
    border-radius: 20px;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #0d6efd;
    border-radius: 20px;
}